<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{import :: head}"></head>
<body>

<div>
    <head th:replace="~{import :: navBar}"></head>


    <!--banner-->
    <section class="banner">
        <div><img src="images/about_banner.jpg" alt=""></div>
    </section>

    <div class="com_zi clearfix">
        <div class="left_zi">
            <div class="top_com">
                <span>部门简介</span>
            </div>
            <ul class="nav_left">
                <li class="active"><a href="/about">部门简介</a></li>

                <li><a href="/honor">荣誉资质</a></li>


            </ul>

            <div class="pro_lei">
                <div class="top">新闻资讯</div>
                <ul class="left_g_new">
                    <li><a href="/news">鸡蛋上的喷码标记对健康有影响吗</a></li>
                    <li><a href="/news">激光喷码机有哪些优势</a></li>
                    <li><a href="/news">如何保障激光喷码机数据安全</a></li>
                    <li><a href="/news">激光喷码机 用科技带动生产力</a></li>
                    <li><a href="/news">电子面单相较传统面单有哪些优势？</a></li>
                </ul>
            </div>


        </div>

        <div class="right_zi">
            <div class="bar clearfix">
                <span class="b_tt">公司简介</span>
                <span class="curbar"><i>您当前的位置：</i><a href="/index">首页</a> > <a
                        href="about">关于我们</a> > <i>部门简介</i></span>
            </div>
            <div class="about_zi">
                <p>
                    信息技术部是是以生产运维、软件开发、数据治理为一体的中台部门。
                </p>
                <div class="about_img">
                    <!--<div class="kuan_a">-->
                        <!--<span>01</span>-->
                        <!--<time>TRUELAND</time>-->
                        <!--<em>服务的创新与整合</em>-->
                    <!--</div>-->
                    <img src="images/about_c.jpg" alt="" class="vcenter"/>
                    <i>

                    </i>
                </div>
                <p>
                    交通银行重庆市分行信息技术部是一支有着27 名员工的年轻队伍,集体平均年龄36岁。其中35岁以下青年技术干部有14人,占职工总人数的51.8%;党员15名,团员 4名;具有大学本科学历27人,研究生学历5人。此外,我部计划在2020年新进IT 人才 8-10人左右,初步形成 35-40人规模的更加年轻的IT 团队。近两年,我们了荣获交通银行总行“IT 运维十佳优秀团队”、“交总行2019年创新大赛三等奖”、“重庆市银行业金融机构信息安全工作先进单位”、市分行“青年文明号”等内外部各类集体荣誉12项,多次被评为“市分行机关先进集体”,部门员工个人荣誉26人次。</p>

                <p>思想上,我们高度重视“青年文明号”创建工作,充分发挥团组织的生力军作用,发扬团队精神,组织召开青年文明号创建工作动员会,成立了以部门总经理为组长的创建“青年文明号”领导小组,以总经理助理为组长的“青年文明号’创建小组,制定创建活动实施方案,确定指导思想,奋斗目标和进度规划、制度建设等。此外,还明确了职责分工,确定了创建考核标准,并按照创建实施方案把评选条件细化分解,落实到各岗位及个人。行动上,我们除了在部门张贴并坚持履行“青年文明号”</p>
                <p>思想上,我们高度重视“青年文明号”创建工作,充分发挥团组织的生力军作用,发扬团队精神,组织召开青年文明号创建工作动员会,成立了以部门总经理为组长的创建“青年文明号”领导小组,以总经理助理为组长的“青年文明号’创建小组,制定创建活动实施方案,确定指导思想,奋斗目标和进度规划、制度建设等。此外,还明确了职责分工,确定了创建考核标准,并按照创建实施方案把评选条件细化分解,落实到各岗位及个人。行动上,我们除了在部门张贴并坚持履行“青年文明号”</p>
            </div>

        </div>
    </div>




    <!--底部-->
    <div th:replace="~{import :: footBar}"></div>

</div>




<div th:replace="~{import :: script}"></div>

</body>
</html>
