<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{import :: head}"></head>
<body>

<div>
    <head th:replace="~{import :: navBar}"></head>


    <!--banner-->
    <section class="banner">
        <div><img src="images/about_banner.jpg" alt=""></div>
    </section>

    <div class="com_zi clearfix">
        <div class="left_zi">
            <div class="top_com">
                <span>部门简介</span>
            </div>
            <ul class="nav_left">
                <li class="active"><a href="/about">部门简介</a></li>

                <!--<li><a href="/honor">荣誉资质</a></li>-->


            </ul>



            <div th:replace="~{import :: leftBar}"></div>


        </div>

        <div class="right_zi">
            <div class="bar clearfix">
                <span class="b_tt">公司简介</span>
                <span class="curbar"><i>您当前的位置：</i><a href="/index">首页</a> > <a
                        href="/about">关于我们</a> > <i>部门简介</i></span>
            </div>
            <div class="about_zi">
                <p>
                    信息技术部是是以生产运维、软件开发、数据治理为一体的中台部门。
                </p>
                <div class="about_img">
                    <!--<div class="kuan_a">-->
                        <!--<span>01</span>-->
                        <!--<time>TRUELAND</time>-->
                        <!--<em>服务的创新与整合</em>-->
                    <!--</div>-->
                    <img src="images/about_c.jpg" alt="" class="vcenter"/>
                    <i>

                    </i>
                </div>
                <p>
                    交通银行重庆市分行信息技术部是一支有着27 名员工的年轻队伍,集体平均年龄36岁。其中35岁以下青年技术干部有14人,占职工总人数的51.8%;党员15名,团员 4名;具有大学本科学历27人,研究生学历5人。此外,我部计划在2020年新进IT 人才 8-10人左右,初步形成 35-40人规模的更加年轻的IT 团队。近两年,我们了荣获交通银行总行“IT 运维十佳优秀团队”、“交总行2019年创新大赛三等奖”、“重庆市银行业金融机构信息安全工作先进单位”、市分行“青年文明号”等内外部各类集体荣誉12项,多次被评为“市分行机关先进集体”,部门员工个人荣誉26人次。</p>

                <p>创建目标及管理机制
                    思想上，我们高度重视“青年文明号”创建工作，充分发挥团组织的生力军作用，发扬团队精神，组织召开青年文明号创建工作动员会，成立了以部门总经理为组长的创建“青年文明号”领导小组，以总经理助理为组长的“青年文明号”创建小组，制定创建活动实施方案，确定指导思想，奋斗目标和进度规划、制度建设等。此外，还明确了职责分工，确定了创建考核标准，并按照创建实施方案把评选条件细化分解，落实到各岗位及个人。
                    行动上，我们除了在部门张贴并坚持履行“青年文明号”信用公约，制作“青年文明号服务卡”，制定了信息技术部各类服务事项明细表、青年文明号岗位职责公示栏，明确了各类事项的服务规范及每位员工的工作职责。还充分发挥IT专长，部门通过建立NAS存储、SVN版本管理服务器来统一收集、保存、管理创建的相关资料，并建立台账。</p>
                <p>创建内容、举措及成效
                    在银行纷纷吹响智慧化转型号角的今天，我们团队积极发挥了信息技术对分行业务改革转型的驱动和引领作用，以守住安全生产为底线，以提供优质IT服务为已任，克难奋进、创新超越、砥砺前行。聚焦科技赋能和价值创造两个目标，坚持风险管控和产品创新两个核心任务，围绕“平安IT、优质服务、科技创新、赋能发展”四个主线，真抓实干，全行重要系统连续第6年保持100%可用率，无生产事件和信息安全事件发生，内控评级A，在系统内部排名前10，成功进入交总行先进行序列。
                    我们组建了7个青年创新锋小组，主动前移、深入基层、深入客户，通过金融+科技+场景的构建，2019年我们累计新建了医疗、党建、物业、宗教、税务、交通、停车、房地产、国内信用证等10个创新场景，落地推广了8个总行创新产品和6个分行创新产品，开发上线了近50个特色业务项目，为分行带来各类低成本负债近40亿元，为分行业务发展注入了强劲的动能。</p>


                <p>学习上，我们狠抓青年员工的政治学习、业务学习、思想道德修养。同时制定专项考核细则，鼓励员工积极参加文化、教育和各类技能竞赛活动。近期，配合人力资源部制定了《交通银行重庆市分行金融科技人才管理办法》，对市分行金融科技人才建设从职责、岗位、评估和应用进行了规范，激励全行所有员工聚焦科技赋能，实现价值创造。启动“金融科技人才加速器”计划，创新传统新进员工的培养模式，加速让新员工掌握岗位技能、熟悉工作流程。近2年来，组织员工参加政治理论学习56次，参加总分行线下业务培训46次，同时部门全体成员线上学时2年达标率均为100%。做到了全员全覆盖学习。组织全体员工通过上岗考试，考试达标率100%。鼓励青年员工撰写论文并发表。累计共有5人次在市级以上刊物发票，并获得“2018年度两江金融基金项目课题表彰奖”2人次、“重庆市银行业协会2018年度信息宣传工作优秀稿件”2人次。2人次获得优秀兼职培训师和优秀教务工作者称号。</p>

                <p>宣传上，我们通过交行内网、微信公众号、微信群大力宣传交行内部文化与精神文明，部门设立青年成长公示栏、鼓励微语录等。制定青年员工成长计划，在部门制作员工成长目标语录栏，鼓励全体员工向自己的目标不断努力；为集体成员联系成长伙伴与成长粉丝，并开展互动活动，将成长进度上墙公示，同时每季度在单位内部采取无记名投票行阶段性评估，并定期总结活动成果，持续改进。目前在部门中已有多名青年员工在工作中表现突出，成为业务上的骨干，为部门发展注入新活力。
                    信息技术部树立主动运维的理念，狠抓基础管理工作和IT连续性建设，不断提升科技精细化管理水平，连续第6年保持系统100%可用率，向全行提供优质IT服务。
                    信息技术部积极承担社会责任，践行社会主义价值观，发扬团结互助、扶贫济困的关爱精神，持续开展结对帮扶工作。从联合长寿支行党支部，精准扶贫长寿区但渡镇升高村村民的物资帮扶，到联合璧山支行党支部，精准扶贫丁家街道新民村村民的物资扶贫、种植帮扶，再到与江北区江北城街道桂花街社区联建，结对帮扶。
                    近2年来，我们在创建“青年文明号”活动中做了大量的工作，取得了一定成绩。我们决心以此为新的起点，不断学习和借鉴其他单位的创建经验，立足岗位，永争一流，锐意改革、创新突破。用青春的誓言，扎实的行动，努力在转型变革的跨越式发展中书写青年文明号的华章。</p>
            </div>

        </div>
    </div>




    <!--底部-->
    <div th:replace="~{import :: footBar}"></div>

</div>




<div th:replace="~{import :: script}"></div>

</body>
</html>
