<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{import :: head}"></head>

<body>

<div>
    <!--header-->
    <head th:replace="~{import :: navBar}"></head>


    <!--banner-->
    <section class="banner">
        <div><img src="images/case_banner.jpg" alt=""></div>
    </section>
    <div class="com_zi clearfix">
        <div class="left_zi">
            <div class="top_com">
                <span>联系我们</span>
            </div>
            <ul class="nav_left">
                <li class="active">
                    <a href="/contact">联系方式</a>
                </li>

            </ul>


            <div th:replace="~{import :: leftBar}"></div>


        </div>


        <div class="right_zi">
            <div class="bar clearfix">
                <span class="b_tt">联系我们</span>
                <span class="curbar"><i>您当前的位置：</i><a href="/index">首页></a> <a
                        href="/contact">联系我们</a> > <i>联系方式</i></span>
            </div>


            <div class="cont_zi">

                <div class="con_cc">
                    <div class="left">
                        <img src="images/contact_wei.jpg" alt=""/>
                        <p>CONTACT US</p>
                    </div>
                    <ul class="right">
                        <li class="clearfix">
                            <b>部门名称：</b><span>信息技术</span>
                        </li>
                        <li class="clearfix">
                            <b>电话：</b><span> 023-65855218  </span>
                        </li>
                        <li class="clearfix">
                            <b>邮箱：</b><span> dong.ty@bankcomm.com
</span>
                        </li>

                        <li class="clearfix">
                            <b>地址：</b><span>交通银行重庆市分行5楼</span>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>


    <div th:replace="~{import :: script}"></div>

</div>


<div th:replace="~{import :: script}"></div>

</body>
</html>
