<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{import :: head}"></head>


<body>

<div>

    <head th:replace="~{import :: navBar}"></head>


    <!--banner-->
    <section class="banner">
        <div><img src="images/news_banner.jpg" alt=""></div>
    </section>


    <div class="com_zi clearfix">
        <div class="left_zi">
            <div class="top_com">
                <span>新闻资讯</span>
            </div>
            <ul class="nav_left">
                <li class="active">
                    <a href="news.html">公司新闻</a>
                </li>
                <!--<li>
                    <a href="news.html">行业新闻</a>
                </li>-->
            </ul>
            <div class="pro_lei">
                <div class="top">产品展示</div>
                <div class="pro_l_nei">
                    <div class="pic">
                        <img src="images/case3.jpg" alt="" class="vcenter"/>
                        <i></i>
                    </div>
                    <p>
                        MOTOROLA-Symbol LS-2208
                    </p>
                </div>
            </div>
        </div>


        <div class="right_zi">
            <div class="bar clearfix">
                <span class="b_tt">新闻资讯</span>
                <span class="curbar"><i>您当前的位置：</i><a href="/index">首页</a> > <a href="/news">新闻资讯</a> > <i>公司新闻</i></span>
            </div>


            <!--新闻对正文-->
            <div class="news_show_zi">
                <!--标题-->
                <h4 th:text="${result.getTitle()}"></h4>

                <!--正文-->
                <div class="panel panel-default">
                    <div class="panel-heading">说明</div>
                    <div class="panel-body" th:utext="${result.getContent()}"></div>
                </div>


                <!--下载链接-->
                <div class="panel panel-default">
                    <div class="panel-heading">下载文件</div>
                    <div class="panel-body">
                        <table>
                            <tr th:each="file:${fileInfo}">
                                <th><a th:href="${file.path}" th:text="${file.name}"></a></th>
                            </tr>
                        </table>

                        </br>
                    </div>
                </div>

            </div>


        </div>
    </div>



    <div th:replace="~{import :: script}"></div>

</div>

<div th:replace="~{import :: script}"></div>
</body>
</html>
