<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{import :: head}"></head>



<body>

<div>
    <!--header-->
    <head th:replace="~{import :: navBar}"></head>

    <!--banner-->
    <section class="banner">
        <div><img src="images/down_banner.jpg" alt=""></div>
    </section>
    <div class="com_zi clearfix">
        <div class="left_zi">
            <div class="top_com">
                <span>下载中心</span>
            </div>
            <ul class="nav_left">
                <li>
                    <a href="/download">下载中心</a>
                </li>

            </ul>


            <div th:replace="~{import :: leftBar}"></div>


        </div>








        <div class="right_zi">

            <div class="bar clearfix">
                <span class="b_tt">下载中心</span>
                <span class="curbar"><i>您当前的位置：</i><a href="/index">首页</a> > <i>下载中心</i></span>
            </div>



            <form th:action="@{/download}" method="get" id="formId">


                <div class="bar clearfix">
                    <div class="input-group">
                        <input type="text"  name="title" id="searchTitle"  class="form-control" placeholder=" 请输入软件名称..." th:value="${searchTitle}">
                        <input type="hidden"  id="page" name="page" >
                        <span class="input-group-btn">
                     <button class="btn btn-default"  type="button" onclick="gotoPage()">搜索</button>
                    </span>
                    </div>
                </div>


                <script>

                    function gotoPage(valueT){
                        console.log("点击了："+valueT)
                        if(valueT!=null){
                            $("#page").attr("value", valueT);

                        }else{
                            $("#page").attr("value", 1);
                        }
                        $("#formId").submit();
                    }

                </script>



                <!--下载内容-->
                <ul class="down_ul">


                    <li th:each="software:${pageInfo.getPage()}">
                        <a th:href="@{/download_show(id=${software.getId()})}"><span
                                th:text="${software.getTitle()}"></span>
                            <time th:text="${#dates.format(software.getCreate_time(),'yyyy-MM-dd')}"></time>
                        </a>
                    </li>

                </ul>

                <section class="pageing">

                    <!-- 首页 -->

                    <!--<a th:href="'/download?page=1&title='"+searchTitle>首页</a>-->
                    <a onclick="gotoPage(1)">首页</a>


                    <!-- 上一页 -->
                    <a  th:if="${pageInfo.hasPre}"    th:onclick="'javascript:gotoPage(\'' + ${pageInfo.getCurrentPage()-1} + '\');'"  th:text="上一页"></a>

                    <!-- 下一页 -->
                    <a   th:if="${pageInfo.hasNext}"   th:onclick="'javascript:gotoPage(\'' + ${pageInfo.getCurrentPage()+1} + '\');'" th:text="下一页"></a>


                    <!-- 尾页 -->
                    <a    th:onclick="'javascript:gotoPage(\'' + ${pageInfo.getTotalPage()-1} + '\');'">尾页</a>

                    <div th:text="${'当前位于第'+pageInfo.getCurrentPage()+'页'}"></div>
                    <div th:text="${'合计'+pageInfo.getTotal()+'条软件数据，一共'+pageInfo.getTotalPage()+'页'}"></div>


                </section>




            </form>



        </div>
    </div>


    <div th:replace="~{import :: script}"></div>

</div>


<div th:replace="~{import :: script}"></div>

</body>
</html>
