<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{import :: head}"></head>


<body>

<div>

	<head th:replace="~{import :: navBar}"></head>
			
	<!--banner-->
	<section class="banner">
	    <div><img src="images/about_banner.jpg" alt=""></div>
	</section>
	<div class="com_zi clearfix">
		<div class="left_zi">
			<div class="top_com">
				<span>公司简介</span>
			</div>
			<ul class="nav_left">
				<li><a href="about.html">公司简介</a></li>
				
				<li  class="active"><a href="honor.html">荣誉资质</a></li>
				
				
			</ul>


			<div th:replace="~{import :: leftBar}"></div>





		</div>
		<div class="right_zi">
			<div class="bar clearfix">
				<span class="b_tt">荣誉资质</span>
				<span class="curbar"><i>您当前的位置：</i><a href="index.html">首页</a> > <a href="about.html">关于我们</a> > <i>荣誉资质</i></span>
			</div>
			<ul class="honor_ul clearfix">
				<li>
					<div class="pic">
						<img src="images/honor1.jpg" alt="" class="vcenter" />
						<i></i>
					</div>
					<p>质量保证中心</p>
				</li>
				<li>
					<div class="pic">
						<img src="images/honor2.jpg" alt="" class="vcenter" />
						<i></i>
					</div>
					<p>质量保证中心</p>
				</li>
				<li>
					<div class="pic">
						<img src="images/honor3.jpg" alt=""class="vcenter"  />
						<i></i>
					</div>
					<p>质量保证中心</p>
				</li>
				<li>
					<div class="pic">
						<img src="images/honor1.jpg" alt="" class="vcenter" />
						<i></i>
					</div>
					<p>质量保证中心</p>
				</li>
				<li>
					<div class="pic">
						<img src="images/honor2.jpg" alt="" class="vcenter" />
						<i></i>
					</div>
					<p>质量保证中心</p>
				</li>
				<li>
					<div class="pic">
						<img src="images/honor3.jpg" alt=""class="vcenter"  />
						<i></i>
					</div>
					<p>质量保证中心</p>
				</li>
				<li>
					<div class="pic">
						<img src="images/honor1.jpg" alt="" class="vcenter" />
						<i></i>
					</div>
					<p>质量保证中心</p>
				</li>
				<li>
					<div class="pic">
						<img src="images/honor2.jpg" alt="" class="vcenter" />
						<i></i>
					</div>
					<p>质量保证中心</p>
				</li>
				<li>
					<div class="pic">
						<img src="images/honor3.jpg" alt=""class="vcenter"  />
						<i></i>
					</div>
					<p>质量保证中心</p>
				</li>
			</ul>
			

		</div>
	</div>



	<div th:replace="~{import :: footBar}"></div>

</div>



<div th:replace="~{import :: script}"></div>
</body>
</html>
