<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">




    <!--需要导入的-->
    <head th:fragment="head">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>交通银行重庆市分行——信息技术部</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!--<link rel="shortcut icon" href="favicon.ico">
        -->
        <!-- include main css -->
        <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
        <link rel="stylesheet" href="/css/animates.css"/>
        <!--[if lt IE 9]>
        <script src="http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js"></script>
        <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->





    </head>


    <!--头部导航-->
    <div   class="header" th:fragment="navBar" >

        <div class="kuan_heaaer clearfix container">
            <a href="/index" class="logo">
                <img src="images/logo-removebg-preview的副本.png" style="margin: 0px 0px 10px 0px" alt=""/>
            </a>
            <div class="nav_div">
                <ul class="nav_ul">
                    <li class="active">
                        <a href="/index"><span>网站首页</span></a>
                    </li>
                    <li>
                        <a href="/about"><span>关于我们</span></a>
                        <div class="erji">
                            <a href="/about">部门简介</a>

                            <a href="/honor">荣誉资质</a>

                        </div>
                    </li>
                    <li>
                        <a href="/pro"><span>产品展示</span></a>
                        <div class="erji">
                            <a href="/pro">条码机系列</a>
                            <a href="/pro - 1">彩色打印机</a>
                            <a href="/pro - 2">扫码枪系列</a>
                            <a href="/pro - 3">条码软件系列</a>
                        </div>
                    </li>
                    <!--<li>
                        <a href="/case"><span>典型业绩</span></a>
                        <div class="erji">
                            <a href="/case">典型业绩一</a>
                            <a href="/case">典型业绩二</a>
                            <a href="/case">典型业绩三</a>
                        </div>
                    </li>-->
                    <li>
                        <a href="/news"><span>新闻资讯</span></a>
                        <!--<div class="erji">
                            <a href="/news">公司新闻</a>
                            <a href="/news">行业新闻</a>
                        </div>-->
                    </li>
                    <li>
                        <a href="/download"><span>下载中心</span></a>
                    </li>
                    <li>
                        <a href="/contact"><span>联系我们</span></a>

                    </li>
                </ul>
            </div>
            <a href="/#mmenu" class="iconfont phone-nav">
                <span class="glyphicon glyphicon-align-justify"></span>
            </a>
        </div>

    </div>




    <!--底部-->
    <div class="footer" th:fragment="footBar">
        <div class="footer_com clearfix">
            <ul class="di_nav">
                <li>
                    <a href="/about" class="tit">关于我们</a>
                    <a href="/about">部门简介</a>

                    <a href="/honor">荣誉资质</a>

                </li>
                <li>
                    <a href="/pro" class="tit">产品展示</a>
                    <a href="/pro">条码机系列</a>
                    <a href="/pro - 1">彩色打印机</a>
                    <a href="/pro - 2">扫码枪系列</a>
                    <a href="/pro - 3">条码软件系列</a>
                </li>

                <li>
                    <a href="/news" class="tit">新闻展示</a>
                    <a href="/news">公司新闻</a>
                    <!--<a href="/news">行业新闻</a>-->

                </li>
                <li>
                    <a href="/contact" class="tit">联系我们</a>
                    <a href="/contact">联系方式</a>
                    <a href="/feedback">在线留言</a>
                </li>
            </ul>
            <div class="er_right">
                <div class="er">
                    <div class="pic">
                        <img src="images/erwei.png" alt="" class="vcenter">
                        <i></i>
                    </div>
                    <div class="text">
                        <span>微信公众平台</span>

                    </div>
                </div>
                <div class="dian">
                    <div class="di_bg" style="margin-top: 20PX;">
                        <a href="/tel:XXX  ">XXX </a>
                        <span>服务咨询热线</span>
                    </div>


                </div>
            </div>

        </div>

    </div>









    <!--需要导入的脚本-->
    <div th:fragment="script">
        <!--Include Js-->
        <script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>

        <!--移动端导航-->
        <script src="js/jquery.mmenu.all.min.js" type="text/javascript" charset="utf-8"></script>

        <script src="js/public.js" type="text/javascript" charset="utf-8"></script>

        <!--slick-->
        <script src="js/slick.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
            $(function () {
                $('.banner').slick({
                    dots: true,
                    autoplay: true,
                    arrows: false,
                    autoplaySpeed: 3000,
                });
            });
        </script>

        <!--placeholder-->
        <script src="js/jquery.placeholder.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
            $(function () {
                $('input, textarea').placeholder();
            });
        </script>

        <!--<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
        <script type="text/javascript">
            $(document).ready(function () {
                $('.marquee').kxbdMarquee({
                    direction: 'left',
                    eventA: 'mouseenter',
                    eventB: 'mouseleave'
                });
            });
        </script>
        <script>
            //滚动
            (function ($) {

                $.fn.kxbdMarquee = function (options) {
                    var opts = $.extend({}, $.fn.kxbdMarquee.defaults, options);

                    return this.each(function () {
                        var $marquee = $(this);//滚动元素容器
                        var _scrollObj = $marquee.get(0);//滚动元素容器DOM
                        var scrollW = $marquee.width();//滚动元素容器的宽度
                        var scrollH = $marquee.height();//滚动元素容器的高度
                        var $element = $marquee.children(); //滚动元素
                        var $kids = $element.children();//滚动子元素
                        var scrollSize = 0;//滚动元素尺寸
                        var _type = (opts.direction == 'left' || opts.direction == 'right') ? 1 : 0;//滚动类型，1左右，0上下

                        //防止滚动子元素比滚动元素宽而取不到实际滚动子元素宽度
                        $element.css(_type ? 'width' : 'height', 10000);
                        //获取滚动元素的尺寸
                        if (opts.isEqual) {
                            scrollSize = $kids[_type ? 'outerWidth' : 'outerHeight']() * $kids.length;
                        } else {
                            $kids.each(function () {
                                scrollSize += $(this)[_type ? 'outerWidth' : 'outerHeight']();
                            });
                        }
                        //滚动元素总尺寸小于容器尺寸，不滚动
                        if (scrollSize < (_type ? scrollW : scrollH)) return;
                        //克隆滚动子元素将其插入到滚动元素后，并设定滚动元素宽度
                        $element.append($kids.clone()).css(_type ? 'width' : 'height', scrollSize * 2);

                        var numMoved = 0;

                        function scrollFunc() {
                            var _dir = (opts.direction == 'left' || opts.direction == 'right') ? 'scrollLeft' : 'scrollTop';
                            if (opts.loop > 0) {
                                numMoved += opts.scrollAmount;
                                if (numMoved > scrollSize * opts.loop) {
                                    _scrollObj[_dir] = 0;
                                    return clearInterval(moveId);
                                }
                            }
                            if (opts.direction == 'left' || opts.direction == 'up') {
                                var newPos = _scrollObj[_dir] + opts.scrollAmount;
                                if (newPos >= scrollSize) {
                                    newPos -= scrollSize;
                                }
                                _scrollObj[_dir] = newPos;
                            } else {
                                var newPos = _scrollObj[_dir] - opts.scrollAmount;
                                if (newPos <= 0) {
                                    newPos += scrollSize;
                                }
                                _scrollObj[_dir] = newPos;
                            }
                        };
                        //滚动开始
                        var moveId = setInterval(scrollFunc, opts.scrollDelay);
                        //鼠标划过停止滚动
                        $marquee.hover(
                            function () {
                                clearInterval(moveId);
                            },
                            function () {
                                clearInterval(moveId);
                                moveId = setInterval(scrollFunc, opts.scrollDelay);
                            }
                        );

                        //控制加速运动
                        if (opts.controlBtn) {
                            $.each(opts.controlBtn, function (i, val) {
                                $(val).bind(opts.eventA, function () {
                                    opts.direction = i;
                                    opts.oldAmount = opts.scrollAmount;
                                    opts.scrollAmount = opts.newAmount;
                                }).bind(opts.eventB, function () {
                                    opts.scrollAmount = opts.oldAmount;
                                });
                            });
                        }
                    });
                };
                $.fn.kxbdMarquee.defaults = {
                    isEqual: true,//所有滚动的元素长宽是否相等,true,false
                    loop: 0,//循环滚动次数，0时无限
                    direction: 'left',//滚动方向，'left','right','up','down'
                    scrollAmount: 1,//步长
                    scrollDelay: 10,//时长
                    newAmount: 3,//加速滚动的步长
                    eventA: 'mousedown',//鼠标事件，加速
                    eventB: 'mouseup'//鼠标事件，原速
                };

                $.fn.kxbdMarquee.setDefaults = function (settings) {
                    $.extend($.fn.kxbdMarquee.defaults, settings);
                };

            })(jQuery);

        </script>
        <script type="text/javascript" src="js/TouchSlide.1.1.js"></script>
        <script>
            TouchSlide({
                slideCell: "#slideBox",
                titCell: ".hd li",
                mainCell: ".bd ul",
                effect: "leftLoop"
//				autoPlay:true//自动播放
            });
            TouchSlide({
                slideCell: "#news_slide",
                mainCell: ".bd ul",
                effect: "leftLoop",
                autoPlay: true//自动播放
            });
        </script>
        <style>
            .copyrights {
                text-indent: -9999px;
                height: 0;
                line-height: 0;
                font-size: 0;
                overflow: hidden;
            }
        </style>



    </div>





</html>