<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{import :: head}"></head>






    <body>

        <div>

            <head th:replace="~{import :: navBar}"></head>


            <!--滑动横幅-->
            <section class="banner">
                <div><a href="index.html"><img src="images/banner1.jpg" alt=""></a></div>
                <div><a href="index.html"><img src="images/banner2.jpg" alt=""></a></div>
                <div><a href="index.html"><img src="images/banner3.jpg" alt=""></a></div>
            </section>


            <!--关于我们-->
            <div class="wrap container">
                <div class="top">

                    <span>关于我们</span>
                    <i>THE PERMANENT WORKS</i>
                    <em></em>
                </div>
                <dl class="i_about clearfix">
                    <dt class="col-md-4 col-sm-4 col-xs-12">
                        <img src="images/about1.jpg" alt="">
                    </dt>
                    <dd class="col-md-8 col-sm-8 col-xs-12">
                        <h6>Information technological department</h6>
                        <div class="tip">致力于交通银行重庆市分行数字化转型的综合部门</div>
                        <p>交通银行重庆市分行信息技术部是一支有着27 名员工的年轻队伍,集体平均年龄36岁。其中35岁以下青年技术干部有14人,占职工总人数的51.8%;党员15名,团员
                            4名;具有大学本科学历27人,研究生学历5人。此外,我部计划在2020年新进IT 人才 8-10人左右,初步形成 35-40人规模的更加年轻的IT 团队。近两年,我们了荣获交通银行总行“IT
                            运维十佳优秀团队”、“交总行2019年创新大赛三等奖”、“重庆市银行业金融机构信息安全工作先进单位”、市分行“青年文明号”等内外部各类集体荣誉12项,多次被评为“市分行机关先进集体”,部门员工个人荣誉26人次。</p>
                        <span>部门理念</span>
                        <p>诚信 务实 规范</p>
                        </br>
                        <span>涉及领域业</span>
                        <p>人工智能、大数据、商业智能、自动化办公</p>
                    </dd>
                </dl>
            </div>


            <!--产品分类-->
            <div class="case_home">
                <div class="case_com">
                    <div class="top">
                        <span>产品分类</span>
                        <i>PRODUCT DISPLAY</i>
                        <em></em>
                    </div>
                    <ul class="clearfix">
                        <li class="clearfix">
                            <div class="pic_ca">
                                <img src="images/case1.jpg" alt="" class="vcenter"/>
                                <i></i>
                                <a href="pro.html" class="zhe_a slideExpandUp">
                                    <div class="zhe_n">
                                        <p></p>
                                        <img src="images/zhe_jia.png" alt=""/>
                                    </div>
                                </a>
                            </div>
                            <div class="text_ca">
                                <p>条码机系列</p>
                                <a href="pro.html">查看详细>></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic_ca">

                                <img src="images/case2.jpg" alt="" class="vcenter" />

                                <i></i>
                                <a href="pro - 1.html" class="zhe_a slideExpandUp">
                                    <div class="zhe_n">
                                        <p></p>
                                        <img src="images/zhe_jia.png" alt=""/>
                                    </div>
                                </a>
                            </div>
                            <div class="text_ca">
                                <p>彩色打印机系列</p>
                                <a href="pro - 1.html">查看详细>></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic_ca">
                                <img src="images/case3.jpg" alt="" class="vcenter"/>
                                <i></i>
                                <a href="pro - 2.html" class="zhe_a slideExpandUp">
                                    <div class="zhe_n">
                                        <p></p>
                                        <img src="images/zhe_jia.png" alt=""/>
                                    </div>
                                </a>
                            </div>
                            <div class="text_ca">
                                <p>扫码枪系列</p>
                                <a href="pro - 2.html">查看详细>></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic_ca">
                                <img src="images/case4.jpg" alt="" class="vcenter"/>
                                <i></i>
                                <a href="pro - 3.html" class="zhe_a slideExpandUp">
                                    <div class="zhe_n">
                                        <p></p>
                                        <img src="images/zhe_jia.png" alt=""/>
                                    </div>
                                </a>
                            </div>
                            <div class="text_ca">
                                <p>条码软件系列</p>
                                <a href="pro - 3.html">查看详细>></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>




            <!--新闻-->
            <div style="padding-top: 20px;">
                <div class="container nes">
                    <div class="row">
                        <div class="top">
                            <span>新闻资讯</span>
                            <i>NEWS</i>
                            <em></em>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div id="news_slide" class="news_slide_box">
                                <div class="bd">
                                    <div class="tempWrap">
                                        <ul>
                                            <li>
                                                <a class="pic" href="news_show.html">
                                                    <img src="images/new1.jpg">
                                                    <span class="title">
                                                            鸡蛋上的喷码标记对健康有影响吗
                                                        </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="pic" href="news_show - 5.html">
                                                    <img src="images/333.jpg">
                                                    <span class="title">
                                                            物流配送对快递单扫描枪的要求
                                                        </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="pic" href="news_show - 4.html">
                                                    <img src="images/1111.gif">
                                                    <span class="title">
                                                            子面单相较传统面单有哪些优势？
                                                        </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="pic" href="news_show - 5.html">
                                                    <img src="images/333.jpg">
                                                    <span class="title">
                                                            物流配送对快递单扫描枪的要求
                                                        </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <span class="prev"></span>
                                <span class="next"></span>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <ul class="news_list">
                                <li>
                                    <div class="news_pic col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                        <a href="news_show.html" class="">
                                            <img src="images/new1.jpg">
                                        </a>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                                        <a href="news_show.html" class="news_tit">鸡蛋上的喷码标记对健康有影响吗</a>
                                        <p class="news_time">2020-07-07</p>
                                        <p class="news_desc">
                                            　鸡蛋，因为其营养很适合人体的需要，极易吸收，且价格亲民，是生活中最常的一种食物。随着生活水平和消费能力的逐渐提高，大家越来越开始关注健康饮食，这也是为什么我们现在在市场看到</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="news_pic col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                        <a href="news_show - 5.html" class="">
                                            <img src="images/333.jpg">
                                        </a>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                                        <a href="news_show - 5.html" class="news_tit">物流配送对快递单扫描枪的要求</a>
                                        <p class="news_time">2020-07-07</p>
                                        <p class="news_desc">
                                            近来来，随着物联网信息化的发展，快递扫描枪在现代物流发展中已得到广泛应用，其技术同自动识别技术、无线通信技术和数据库技术的集成一体化，是现代物流信息自动获取和实时传输的重要发展方向。</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="news_pic col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                        <a href="news_show - 4.html" class="">
                                            <img src="images/1111.gif">
                                        </a>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                                        <a href="news_show - 4.html" class="news_tit">子面单相较传统面单有哪些优势？</a>
                                        <p class="news_time">2020-07-07</p>
                                        <p class="news_desc">
                                            电子面单，是指使用不干胶热敏纸按照物流公司的规定要求打印客户收派件信息的面单。目前电子面单在国外已经成功运用多年，而在国内，京东、当当、易迅、一号店等从自建初期就使用了电子面单</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <!--合作伙伴-->
            <div class="wrap" style="background: #F4F4F4;">
                <div class="top">
                    <span>合作伙伴</span>
                    <i>COOPERATIVE PARTNER</i>
                    <em></em>
                </div>
                <div class="marquee">
                    <ul>
                        <li>
                            <a><img src="images/he1.jpg"></a>
                        </li>
                        <li>
                            <a><img src="images/he2.jpg"></a>
                        </li>
                        <li>
                            <a><img src="images/he3.jpg"></a>
                        </li>
                        <li>
                            <a><img src="images/he4.jpg"></a>
                        </li>
                        <li>
                            <a><img src="images/he5.jpg"></a>
                        </li>
                        <li>
                            <a><img src="images/he1.jpg"></a>
                        </li>
                        <li>
                            <a><img src="images/he2.jpg"></a>
                        </li>
                        <li>
                            <a><img src="images/he3.jpg"></a>
                        </li>
                        <li>
                            <a><img src="images/he4.jpg"></a>
                        </li>
                        <li>
                            <a><img src="images/he5.jpg"></a>
                        </li>

                    </ul>
                </div>
            </div>





            <!--底部-->
            <div th:replace="~{import :: footBar}"></div>




        </div>




    </body>



    <div th:replace="~{import :: script}"></div>


</html>
