<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{import :: head}"></head>


<body>

<div>

    <head th:replace="~{import :: navBar}"></head>


    <!--banner-->
    <section class="banner">
        <div><img src="images/news_banner.jpg" alt=""></div>
    </section>
    <div class="com_zi clearfix">
        <div class="left_zi">
            <div class="top_com">
                <span>新闻资讯</span>
            </div>
            <ul class="nav_left">
                <li class="active">
                    <a href="/news">公司新闻</a>
                </li>
                <!--<li>
                    <a href="/news2">行业新闻</a>
                </li>-->
            </ul>


            <!--<div class="pro_lei">-->
                <!--<div class="top">产品展示</div>-->
                <!--<div class="pro_l_nei">-->
                    <!--<div class="pic">-->
                        <!--<img src="images/case1.jpg" alt="" class="vcenter"/>-->
                        <!--<i></i>-->
                    <!--</div>-->
                    <!--<p>-->
                        <!--AP5.4经济型工业级条码机-->
                    <!--</p>-->
                <!--</div>-->
                <!--<div class="pro_l_nei">-->
                    <!--<div class="pic">-->
                        <!--<img src="images/case2.jpg" alt="" class="vcenter"/>-->
                        <!--<i></i>-->
                    <!--</div>-->
                    <!--<p>-->
                        <!--VP495彩色打印机-->
                    <!--</p>-->
                <!--</div>-->
                <!--<div class="pro_l_nei">-->
                    <!--<div class="pic">-->
                        <!--<img src="images/case3.jpg" alt="" class="vcenter"/>-->
                        <!--<i></i>-->
                    <!--</div>-->
                    <!--<p>-->
                        <!--MOTOROLA-Symbol LS-2208-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->


        </div>


        <div class="right_zi">
            <div class="bar clearfix">
                <span class="b_tt">新闻资讯</span>
                <span class="curbar"><i>您当前的位置：</i><a href="/index">首页</a> > <a
                        href="/news">新闻资讯</a> > <i>公司新闻</i></span>
            </div>


            <ul class="news_zi_ul clearfix">


                <li th:each="neww:${pageInfo.getPage()}">

                    <a th:href="@{/news_show(id=${neww.getId()})}" class="clearfix">
						<span class="left">
							<h4>[[${neww.getTitle()}]]</h4>
							<p th:text="${neww.getContent()}">　</p>
						</span>
                        <span class="right">

                            <time th:text="${#dates.format(neww.getCreate_time(),'MM-dd')}"></time>
                            <span th:text="${#dates.format(neww.getCreate_time(),'yyyy')}"></span>


							<i></i>
						</span>
                    </a>
                </li>


            </ul>
            <section class="pageing">


                <!-- 首页 -->

                <a th:href="'/news?page=1'">首页</a>


                <!-- 上一页 -->
                <a  th:if="${pageInfo.hasPre}" th:href="'/news?page=' + ${pageInfo.getCurrentPage()-1}" th:text="上一页"></a>

                <!-- 下一页 -->
                <a   th:if="${pageInfo.hasNext}"  th:href="'/news?page=' + ${pageInfo.getCurrentPage()+1}" th:text="下一页"></a>


                <!-- 尾页 -->
                <a th:href="'/news?page=' + ${pageInfo.getTotalPage()}">尾页</a>

                <div th:text="${'当前位于第'+pageInfo.getCurrentPage()+'页'}"></div>
                <div th:text="${'合计'+pageInfo.getTotal()+'条新闻数据，一共'+pageInfo.getTotalPage()+'页'}"></div>


            </section>
        </div>
    </div>


    <div th:replace="~{import :: footBar}"></div>

</div>


</body>

<div th:replace="~{import :: script}"></div>
</html>
